@import "../../../styles/variables";
@import "bootstrap/scss/bootstrap";

    .parallax-container {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        position: relative;
        background-color: $white;
        z-index: 1;
    
    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 5px;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }
    }
    
    .animation,
    .animation_layer {
        height: 100vh;
    }
    
    .animation {
        display: block;
        position: relative;
        background-color: $white;
    }
    
    .animation_layer {
        background-repeat: no-repeat;
        width: 100%;
        position: absolute;
        background-size: 40% auto;
        
    }
    
    .animation_layer.parallax {
        position: fixed;
    }
    
    .word-xl {
        font-size: 13rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .word-md {
        font-size: 12rem;
        position: absolute;
        left: 25%;
    }
    
    
    #a {
        background-image: url("https://pepeganga.vtexassets.com/arquivos/ids/782400/125455448-1.png?v=637911002320670000");
        background-position: left center;
        margin: 20px;
    }
    
    #b {
        background-image: url("https://clipart-library.com/images/rTjd6qeTR.gif");
        background-position: center center;
        margin: 20px;
        width:500px;
        left: 30%;
    }
    
    #c {
        background-image: url("https://acis.org.co/portal/sites/default/files/tcl_17.png");
        background-position: right center;
        margin: 20px;
    }

    
@media (max-width: 767px) {
    .parallax-container {
        width: 100vw;
    }
    
    .animation_layer {
        background-size: 300px 300px;
    }

    .word-xl {
      font-size: 4.2rem;
    }
    
    #a, #c, .word-md {
        display: none;
        font-size: 0;
    }

}