
@import "../../styles/variables";

.not-found-container {
  height: 90vh;

  &::before {
    content: '😞'; 
    font-size: 48px;
  }

  a {
    color: $white;
    text-decoration: underline;

    &:hover {
      color: $primary-color; 
    }
  }
}